/*Header*/
.header-logo img{
    height: 50px;
}

.menu-bar{
     background: #2b3d51;
    padding: 12px 15px 12px 260px;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
}

.menu-bar form{
    margin-bottom: 0px;
}

.menu-bar .dropdown .btn{
    color: #fff;
    border: none;
    font-size: 16px;
    padding: 0;
}

.menu-bar .dropdown i{
    color: #fff;
    font-size: 18px;
}

.menu-bar .dropdown .dropdown-menu button, .menu-bar .dropdown .dropdown-menu a{
    border: none;
    background: none;
    color: #333;
    font-size: 14px;
    align-items: center;
    display: flex;
    gap: 5px;
    padding: 0;
    text-decoration: none;
}

.menu-bar .dropdown .dropdown-menu button i, .menu-bar .dropdown .dropdown-menu a i{
    color: #333;
    font-size: 14px;
}

.menu-bar .dropdown .dropdown-menu.show{
    padding: 0px;
}

.menu-bar .dropdown .dropdown-menu.show li{
    padding: 10px;
}

.menu-bar .dropdown .dropdown-menu.show li:hover{
    background: #f9f9f9;
}

/* Add transition for smooth padding change */
.menu-bar, .main-wrapper {
    transition: padding-left 0.3s ease;  /* Adjust the timing as needed */
}

.sidebar-wrapper.open + .menu-bar {
    padding-left: 15px;
}

.sidebar-wrapper.open + .main-wrapper {
    padding-left: 0px;
}


.main-wrapper{
    padding-left: 260px;
}

.menu-bar.collapsed {
    padding-left: 15px;
}

.main-wrapper.collapsed {
    padding-left: 0px;
}


.sidebar-toggle{
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
    text-align: center;
    height: 2.5rem;
    width: 2.5rem;
    text-decoration: none;
    justify-content: center;
}

.admin-footer{
        background: #fff;
        text-align: center;
        border-top: 1px solid #ccc;
}

.admin-footer p{
    color: #333;
    margin: 0;
    padding: 10px 0;
}
