/*Header*/
.sidebar-logo img{
    height: 50px;
}

.sidebar-logo h2{
    margin-bottom: 0px;
        padding: 7px 0;
}

.menu-bar{
     background: #2b3d51;
    padding: 10px 20px 10px 260px;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
}

.menu-bar form{
    margin-bottom: 0px;
}

.menu-bar .dropdown .btn{
    color: #fff;
    border: none;
    font-size: 16px;
    padding: 0;
}

.menu-bar .dropdown i{
    color: #fff;
    font-size: 18px;
}

.menu-bar .dropdown .dropdown-menu button, .menu-bar .dropdown .dropdown-menu a{
    border: none;
    background: none;
    color: #333;
    font-size: 14px;
    align-items: center;
    display: flex;
    gap: 5px;
    padding: 0;
    text-decoration: none;
}

.menu-bar .dropdown .dropdown-menu button i, .menu-bar .dropdown .dropdown-menu a i{
    color: #333;
    font-size: 14px;
}

.menu-bar .dropdown .dropdown-menu.show{
    padding: 0px;
}

.menu-bar .dropdown .dropdown-menu.show li{
    padding: 10px;
}

.menu-bar .dropdown .dropdown-menu.show li:hover{
    background: #f9f9f9;
}

/* Add transition for smooth padding change */
.menu-bar, .main-wrapper {
    transition: padding-left 0.3s ease;  /* Adjust the timing as needed */
}

.sidebar-wrapper.open + .menu-bar {
    padding-left: 15px;
}

.sidebar-wrapper.open + .main-wrapper {
    padding-left: 0px;
}

.main-wrapper{
    padding:30px 10px 30px 260px;
    background: #f0f0f5;
}

.menu-bar.collapsed {
    padding-left: 15px;
}

.main-wrapper.collapsed {
    padding-left: 0px;
}


.sidebar-toggle{
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
    text-align: center;
    height: 2.5rem;
    width: 2.5rem;
    text-decoration: none;
    justify-content: center;
}

.admin-footer{
    background: #fff;
    text-align: center;
}

.admin-footer p{
    color: #333;
    margin: 0;
    padding: 10px 0;
}

.btn-check:focus+.btn, .btn:focus{
    box-shadow: none !important;
}

/*Table Css*/
.admin-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.admin-title h1{
    font-size: 30px;
    margin-bottom: 0;
    color: #222;
}

.admin-title .btn svg{
        height: 15px;
    padding-right: 5px;
}

.btn{
    background: #2b3d51;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 15px;
    border: 1px solid #2b3d51;
}

.btn:hover{
    color: #2b3d51;
    background: #fff;
}

.custom-table {
    background: #fff;
}

.custom-table th,
.custom-table td {
    padding: 10px 15px;
    text-align: left;
    border: 1px solid #e1e4e8;
        vertical-align: baseline;
}

.custom-table th {
    font-weight: bold;
}

.custom-table tr th{
    border-bottom: none;
}

.custom-table tbody tr:hover {
    background-color: #f5f5f5;
}

.btn-action{
        background: #f5f5f5;
    color: #2b3d51;
    border: none;
    padding: 8px 10px;
}

.btn-action:hover{
    color: #2b3d51;
}

/* Pagination Styling */
.pagination {
    justify-content: center;
       padding: 0;
    margin-bottom: 0;
    margin-top: 20px;
}

.pagination a {
    color: #2b3d51;
    text-decoration: none;
}

.pagination a:hover {
    color: #2b3d51;
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #2b3d51;
    border-color: #2b3d51;
}

/*Form Css*/
.create-form-wrapper .card .form-control{
    padding: 15px;
}

.create-form-wrapper .card  .form-control:focus {
    border-color: #2b3d51;
    box-shadow: none;
}
