/* body {
      font-family: "Open Sans", sans-serif;
} */

.header-wrapper {
    background-color: #fff;
    padding: 12px 0;
    border-bottom: 1px solid #eaeaea;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}

.header-wrapper.scrolled {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.header-wrapper .navbar-brand img {
    height: 40px;
    width: 40px;
}

.header-wrapper .navbar-brand span {
    color: #1a1a1a;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.navbar-nav li {
    padding: 0 15px;
}

.navbar-nav li a {
    font-size: 16px;
    font-weight: 400;
    color: #374151;
    line-height: 24px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    position: relative;
}

.navbar-nav li a:hover {
    color: #273847;
}

.navbar-nav li a::before {
    position: absolute;
    content: "";
    left: 0px;
    bottom: 0;
    width: 0%;
    height: 3px;
    background: #f0c040;
    transition: all 0.5s ease-in-out;
}

.navbar-nav li a:hover::before {
    width: 100%;
    transition: all 0.5s ease-in-out;
}

/*Hero section*/

.hero-section {
    position: relative;
    /* background: url("/images/hero-banner.png") no-repeat center center/cover; */
    color: #fff;
    width: 100%;
    height: 600px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 150px 0px 120px 0;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(39 56 71 / 70%);
}

.hero-content {
    position: relative;

    z-index: 1;
}

.hero-content h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
}

.hero-content h1 span {
    color: #f0c040;
}

.hero-content p {
    margin: 40px 0 20px 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    color: #e5e7eb;
    max-width: 600px;
}

.hero-sectoin-btn {
    margin-top: 40px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.hero-sectoin-btn .btn {
    text-decoration: none;
    padding: 15px 20px;
    font-size: 1rem;
    border-radius: 8px;
    transition: all 0.3s ease;
    font-weight: 600;
    color: #2b3d51;
    font-size: 18px;
}

.hero-sectoin-btn .btn-yellow {
    background: #f0c040;
}

.hero-sectoin-btn .btn-yellow:hover {
    background: rgb(255 255 255 / 10%);
    color: #fff;
}

.hero-sectoin-btn .btn-outline {
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
}

.hero-sectoin-btn .btn-outline:hover {
    background: #fff;
    color: #000;
}

.hero-sectoin-btn .btn.btn-light {
    color: #000;
    background-color: rgb(255 255 255 / 10%);
    border: none;
    color: #fff;
}

.hero-sectoin-btn .btn.btn-light:hover {
    background: #f0c040;
    color: #2b3d51;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Initial hidden state */
.hero-content {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease;
}

/* Active slide’s content fades in */
.carousel-item.active .hero-content {
  animation: fadeUp 1s ease forwards;
}

@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 2.2rem;
    }
    .hero-content p {
        font-size: 1rem;
    }
}

.top-section-padding {
    padding: 150px 20px 90px;
}

.section-padding {
    padding: 90px 20px;
    text-align: center;
}

.section-title {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 700;
    color: #2b3d51;
    text-align: center;
}

.section-sub-title {
    font-size: 18px;
    color: #2b3d51;
    margin-bottom: 40px;
    max-width: 535px;
    margin: 0 auto 60px;
    text-align: center;
}

/*Collection Css*/
.collections-section {
    background: #fff;
}

.collection-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.collection-item {
    border-radius: 12px;
    overflow: hidden;
    padding: 20px;
    border: 1px solid #ddd;
    transition: transform 0.3s ease-in-out;
}

.collection-item:hover {
    /* transform: translateY(-5px); */
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}

.collection-item img {
    width: 250px !important;
    height: 250px;
    object-fit: cover;
    display: block;
    border-radius: 50%;
    margin: 0 auto;
}

.collection-info {
    padding: 15px 0 0;
    text-align: center;
}

.collection-info h3 {
    font-size: 20px;
    margin: 5px 0;
    font-weight: 700;
    color: #2b3d51;
}

.collection-info p {
    font-size: 14px;
    color: #2b3d51;
    margin: 0;
    line-height: 22px;
}

.product-card img {
    object-fit: cover;
    height: 200px;
}

.collection-carousel .owl-nav .owl-prev{
    left: -15px !important;
}

.collection-carousel .owl-nav .owl-next{
    right: -15px !important;
}

/*Card Section Css*/

.card-section .svg-wrapper {
    height: 80px;
    width: 80px;
    background: #fbf7eb;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

.card-section .card {
    border: none;
}

.card-section .card .card-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: #2b3d51;
}

.card-section .card .card-text {
    max-width: 350px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #4b5563;
}

.card-section .card:hover .svg-wrapper {
    background: #f0c040;
    transition: all 0.5s ease-in-out;
}

.card-section .card:hover .svg-wrapper svg path {
    fill: #fff;
    transition: all 0.5s ease-in-out;
}

/*Featured Collection Css*/

.featured-section {
    background: #fff;
}
.featured-collection-grid {
    position: relative;
cursor: pointer;
}
.featured-collection-grid .featured-img {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.featured-collection-grid .featured-img::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(0 0 0 / 45%);
    border-radius: 15px;
    z-index: 1;
}

.featured-collection-grid .featured-img img {
    border-radius: 15px;
    width: 100%;
    height: 500px;
    object-fit: cover;
    transform: scale(1);
    transition: all 0.5s ease-in-out;
}

.featured-collection-grid .featured-content {
    position: absolute;
    bottom: 0px;
    z-index: 11;
    text-align: left;
    padding-left: 30px;
    z-index: 2;
}

.featured-collection-grid .featured-content h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}

.featured-collection-grid .featured-content p {
    color: #e5e7eb;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.featured-collection-grid:hover .featured-img img {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}
.featured-section .featured-carousel{
    position: relative;
}

.custom-owl-carousel .owl-nav{
    display: block !important;
}

.custom-owl-carousel .owl-nav .owl-prev,
.custom-owl-carousel .owl-nav .owl-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #000 !important;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.custom-owl-carousel .owl-nav .owl-prev{
    left: -5px;

}

.custom-owl-carousel .owl-nav .owl-next{
    right: -5px;
}

.custom-owl-carousel .owl-nav .owl-prev svg path,
.custom-owl-carousel .owl-nav .owl-next svg path{
    fill: #fff;
}

/*Heritage Css*/

.heritage-section {
    background: #2b3d51;
}

.heritage-content {
    text-align: left;
    max-width: 560px;
}

.heritage-content h2 {
    color: #fff;
    font-size: 26px;
    line-height: 46px;
    font-weight: 700;
}

.heritage-content p {
    color: #d1d5db;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 30px;
}

.heritage-img img {
    height: 385px;
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.btn-yellow {
    background: #f0c040;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 8px;
    transition: all 0.3s ease;
    font-weight: 600;
    color: #2b3d51;
    font-size: 16px;
}

.btn-yellow:hover {
    background: transparent;
    border: 1px solid #f0c040;
    color: #fff;
}

/*Client Css*/
.client-card {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
}

.client-card .client-img {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 15px;
}

.client-card .client-img img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.client-card .client-title .name {
    color: #2b3d51;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 0;
}

.client-card .client-title .designation {
    color: #4b5563;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.client-quote .quote {
    color: #374151;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 0px;
    text-align: left;
}

.client-section .owl-dots span{
    height: 10px;
    width: 10px;
    background: #ddd;
    border-radius: 10px;
    display: block;
    margin: 0 5px;
}

.client-section .owl-dots button.active span{
    background: #000;
}

/*Subscribe Css*/
.subscription-section {
    background-color: #d4af37;
    padding: 90px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscription-content {
    text-align: center;
    width: 100%;
}

.subscription-content h2 {
    font-size: 36px;
    color: #2b3d51;
    font-weight: 700;
    line-height: 46px;
    margin-bottom: 0px;
}

.subscription-content p {
    font-size: 20px;
    font-weight: 400;
    color: #2b3d51;
    margin: 20px 0;
}

.subscription-content form {
    display: flex;
    justify-content: center;
}

.subscription-content input {
    padding: 15px;
    font-size: 16px;
    margin-right: 10px;
    border: none;
    border-radius: 8px;
    width: 300px;
}

.subscription-content button {
    padding: 10px 20px;
    background-color: #1d2a44;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.subscription-content button:hover {
    background-color: #f0c040;
    color: #000;
    transition: all 0.5s ease-in-out;
}

/*Footer Css*/
footer {
    background-color: #2b3d51;
    color: #b1b1b1;
    padding: 90px 20px 70px;
}
footer .brand-info h3 {
    color: white;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}

footer h4 {
    color: white;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}

footer .brand-info p {
    font-size: 16px;
    line-height: 24px;
    color: #d1d5db;
    margin-bottom: 20px;
}

.brand-info,
.quick-links,
.services,
.contact-info {
    margin-bottom: 30px;
}

footer .social-links a {
    color: #fff;
}

footer .social-links a svg {
    color: #fff;
    margin-right: 10px;
    font-size: 22px;
    line-height: 24px;
}

footer .social-links a svg:hover {
    color: #f0c040;
}

footer .quick-links ul,
footer .services ul,
footer .contact-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer .quick-links ul li,
footer .services ul li,
footer .contact-info ul li {
    margin-bottom: 15px;
}

footer .quick-links ul li a,
footer .services ul li a,
footer .contact-info ul li a {
    color: #d1d5db;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}

footer .quick-links ul li a:hover,
footer .services ul li a:hover,
footer .contact-info ul li a:hover {
    color: #f0c040;
}

footer .contact-info ul li svg {
    margin-right: 8px;
}
footer .bottom-text {
    font-size: 16px;
    color: #9ca3af;
    line-height: 24px;
    margin-top: 30px;
}

footer .chatbot-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #c3a846;
    border: none;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
        z-index: 9;
}

footer .chatbot-btn svg {
    stroke: #2b3d51;
    height: 20px;
    width: 20px;
}

footer .chatbot-btn svg path {
    stroke-width: 1px;
}

/*Contact Page Css*/
.contact-page-wrapper {
    background: #fcfdfd;
}

.contact-top-img {
    width: 80px;
    margin: 0 auto 20px;
}

.contact-page-form .card {
    text-align: left;
    padding: 30px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.19), 0 6px 6px rgb(0 0 0 / 1%);
    border-radius: 16px;
}

.contact-page-form .card .card-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    color: #1f2937;
    margin-bottom: 20px;
}

.contact-page-form .card .form-label {
    font-size: 16px;
    color: #374151;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact-page-form .card .form-control,
.contact-page-form .card .form-select,
#inquiryForm .form-control,
#inquiryForm .form-select {
    padding: 12px 15px;
}

.contact-page-form .card .form-control:focus,
.contact-page-form .card .form-select:focus,
#inquiryForm .form-control:focus,
#inquiryForm .form-select:focus {
    border-color: #000000;
    box-shadow: none;
}

.form-control::placeholder {
    color: #adaebc;
}

.contact-page-form .card .btn {
    background: #1f2937;
    color: #fff;
    height: 50px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    width: 100%;
}

.contact-page-form .card .btn:hover {
    background: #f0c040;
    color: #2b3d51;
    transition: all 0.3s ease-in-out;
}

.contact-page-form .card.mb {
    margin-bottom: 35px;
}

.contact-page-info .contact-info-inner {
    display: flex;
    align-items: flex-start;
    width: 100%;
    gap: 15px;
    margin-bottom: 25px;
}

.contact-page-info .contact-info-inner:last-child {
    margin-bottom: 0px;
}

.contact-page-info .contact-info-inner .icon svg {
    height: 25px;
    background: #fbf7eb;
    color: #f0c040;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 15px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.contact-page-info .contact-info-inner h6 {
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    color: #111827;
    margin-bottom: 0px;
}

.contact-page-info .contact-info-inner p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #4b5563;
    width: 250px;
    margin-bottom: 0px;
}

.contact-info-inner:hover .icon svg {
    background: #f0c040;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.contact-page-form .contact-follow {
    height: 50px;
    width: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.contact-page-form .contact-follow.bg-facebook {
    background: #2563eb;
}

.contact-page-form .contact-follow.bg-instagram {
    background: #db2777;
}

.contact-page-form .contact-follow.bg-linkedin {
    background: #3b82f6;
}

.contact-page-form .contact-follow.bg-twitter {
    background: #60a5fa;
}

.contact-page-form .contact-follow svg {
    fill: #fff;
}

.map-wrapper {
    background-image: #f9fafb;
}

.map-wrapper iframe {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.19), 0 6px 6px rgb(0 0 0 / 1%);
}

/*Product Filter*/
.product-filter-left {
    background: #fff;
    padding: 30px 20px;
    border-radius: 8px;
    text-align: left;
}

.product-filter-left h5 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.product-filter-left h6 {
    color: #111827;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
}

.product-filter-left .form-check-label {
    font-size: 16px;
    color: #374151;
    line-height: 24px;
    margin-bottom: 5px;
}

.product-filter-right {
    text-align: left;
}

.product-filter-right .title h4 {
    font-size: 24px;
    font-weight: 600;
    color: #111827;
}

.product-filter-right .title span {
    font-size: 16px;
    color: #4b5563;
}

.product-filter-right .sort-by {
    font-size: 14px;
    color: #4b5563;
    width: -webkit-fill-available;
    text-align: end;
}

.product-filter-right .form-select,
.product-filter-right .form-select option {
    font-size: 14px;
}

.product-filter-right .card {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in-out;
    margin-bottom: 30px;
}

.product-filter-right .card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.5s ease-in-out;
}

.product-filter-right .card .trending-feature-list {
    position: absolute;
    top: 10px;
    left: 10px;
}

.product-filter-right .card .feature {
    color: #fff;
    padding: 5px 15px;
    width: max-content;
    border-radius: 50px;
    font-size: 12px;
    margin: 0;
    font-weight: 500;
}

.trending-feature {
    background: #ef4444;
}

.premium-feature {
    background: #a855f7;
}

.new-feature {
    background: #3b82f6;
}

.product-right-filter-img {
    position: relative;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
}

.product-filter-right .card img {
    border-radius: 8px 8px 0 0;
    transition: all 0.3s ease-in-out;
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.product-filter-right .material-list {
    margin-bottom: 15px;
}

.product-filter-right .material-list .badge-material {
    background: #f3f4f6;
    font-size: 12px;
    padding: 5px;
    font-weight: 500;
    border-radius: 4px;
    color: #000;
}

.product-filter-right .material-list .badge-export {
    background: #dcfce7;
    color: #166534;
    font-size: 12px;
    padding: 5px;
    border-radius: 4px;
    font-weight: 500;
    margin: 0 10px;
}

.product-filter-right .material-list .badge-moq {
    color: #6b7280;
    font-size: 12px;
    font-weight: 500;
}

.product-filter-right .card .card-body {
    padding: 25px;
}

.product-filter-right .card .card-title {
    font-size: 16px;
    color: #111827;
    line-height: 24px;
}

.product-filter-right .card .card-text {
    font-size: 14px;
    color: #4b5563;
    line-height: 20px;
    font-weight: 400;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
}
.product-filter-left .btn,
.product-filter-right .card .btn {
    background: #000;
    color: #fff;
    width: 100%;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    padding: 12px;
}

.product-filter-left .btn:hover,
.product-filter-right .card:hover .btn {
    background: #f0c040;
    color: #000;
}

.product-filter-left .btn:focus,
.product-filter-right .card .btn:focus {
    box-shadow: none;
}

.form-select:focus {
    box-shadow: none;
}

/*Product detail*/
.product-detail-left {
    position: relative;
}
.product-detail-left .img-thumbnail-main img {
     width: 90px;
    height: 90px;
    object-fit: cover;
    cursor: pointer;
    border: 1px solid #e5e7eb;
    padding: 0px;
    border-radius: 12px;
        padding: 5px;
}

.product-detail-left .img-thumbnail-main {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 15px;
}

.product-detail-left .left-img.zoom-container {
    height: auto;
}

.product-detail-left .left-img img {
    object-fit: cover;
    height: 550px;
    width: 100%;
    border-radius: 8px;
}

.product-detail-left .badge-top {
    position: absolute;
    top: 20px;
    left: 10px;
}

.product-detail-left .badge-top .badge {
    border-radius: 50px;
    font-size: 14px;
    font-weight: 500;
}

.product-detail-left .badge-top .bg-danger {
    background-color: #ef4444;
}

.product-detail-left .badge-top .bg-warning {
    background-color: #eab308;
}

.product-detail-right {
    padding-left: 20px;
}

.product-detail-right .product-title {
    font-size: 36px;
    color: #111827;
    font-weight: 600;
    line-height: 44px;
}

.product-detail-right .product-desc {
    color: #4b5563;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
}

.product-detail-right .sku-category {
    display: flex;
    gap: 30px;
}

.product-detail-right .sku-category p {
    font-size: 14px;
    color: #6b7280;
    line-height: 20px;
}

.product-detail-right .color-variation {
    margin-bottom: 30px;
}

.product-detail-right .size-variaton h6,
.product-detail-right .fabric h6,
.product-detail-right .color-variation h6 {
    font-size: 18px;
    color: #000;
    font-weight: 500;
}

.product-detail-right .color-variation .color .btn {
    width: 48px;
    height: 48px;
    border: 2px solid #d1d5db;
    cursor: pointer;
    border-radius: 50px;
}

.product-detail-right .color-variation .color .btn-red {
    background: red;
}

.product-detail-right .color-variation .color .btn-blue {
    background: blue;
}

.product-detail-right .color-variation .color .btn-green {
    background: green;
}

.product-detail-right .color-variation .color .btn.selected {
    border-color: #000;
}

.product-detail-right .fabric {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background: #fff;
    padding: 25px;
    border-radius: 16px;
    margin-bottom: 30px;
}

.product-detail-right .size-variaton {
    margin-bottom: 30px;
}
.product-detail-right
    .color-variation
    .color
    .product-detail-right
    .size-variaton
    .size {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.product-detail-right .size-variaton .size .btn {
    height: 50px;
    width: 50px;
    border: 2px solid #d1d5db;
    border-radius: 8px;
    padding: 5px;
}

.product-detail-right .size-variaton .size .btn:hover,
.product-detail-right .size-variaton .size .btn.selected {
    background: #111827;
    border-color: #111827;
    color: #fff;
}

.product-detail-right .moq {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    gap: 0;
    align-items: center;
    background: #f4f5f7;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    padding: 15px;
    margin-bottom: 30px;
}

.product-detail-right .moq h4 {
    font-size: 30px;
    font-weight: 600;
    color: #111827;
}

.product-detail-right .moq p {
    color: #4b5563;
    font-size: 14px;
    margin-bottom: 0;
}

.product-detail-right .btn-price,
#inquiryModal .modal-body .btn {
    font-size: 18px;
    color: #fff;
    background: #111827;
    border-radius: 16px;
    width: 100%;
    padding: 15px;
}

.product-detail-right .btn-price:hover {
    background: #d4af37;
    color: #2b3d51;
}

.product-description {
    background: #fff;
    padding: 25px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    margin-top: 50px;
    border-radius: 16px;
}

.product-description .nav-tabs .nav-item {
    padding: 10px 20px 15px 0;
}

.product-description .nav-tabs .nav-link {
    padding: 0;
}

.nav-tabs .nav-link.active {
    background-color: #fff;
    border: none;
}

.product-description .nav-tabs .nav-link {
    position: relative;
    border: none;
    color: #111827;
    font-size: 16px;
}

.product-description .nav-tabs .nav-link:focus {
    border: none;
}

.product-description .nav-tabs .nav-link::before {
    position: absolute;
    content: "";
    bottom: -15px;
    left: 0;
    background: #111827;
    height: 2px;
    width: 100%;
    display: none;
}

.nav-tabs .nav-link.active::before {
    display: block;
}

.additional-info {
    background: #fff;
    padding: 40px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    margin-top: 50px;
    border-radius: 16px;
}

.additional-info .section-sub-title {
    font-size: 16px;
}

.additional-info .feature-icon {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 auto 15px;
}
.additional-info .bg-green {
    background-color: #d4f8e8;
}
.additional-info .bg-blue {
    background-color: #e0ecff;
}
.additional-info .bg-purple {
    background-color: #f2e8ff;
}
.additional-info .feature-box {
    text-align: center;
    padding: 0 20px;
}
.additional-info .feature-title {
    font-weight: bold;
    margin-bottom: 10px;
}
.additional-info .main-heading {
    font-weight: bold;
}

.additional-info .feature-box p {
    font-size: 14px;
    color: #4b5563;
    margin-bottom: 0px;
}

.btn:focus {
    box-shadow: none;
}

.top-related-product{
    text-align: center;
    padding: 90px 20px 0;
}

/*New Arrival*/
.new-arrival-box {
    position: relative;
    text-align: left;
    transition: all 0.5s ease-in-out;
    border-radius: 8px;
    padding: 20px;
    overflow: hidden;
}

.new-arrival-box:hover {
    border: 1px solid #000;
    transition: all 0.5s ease-in-out;
}

.new-arrival-box .new-arrival-box-img {
    overflow: hidden;
    border-radius: 8px;
}

.new-arrival-box img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.new-arrival-box:hover img {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
    border-radius: 8px;
}

.new-arrival-box .card-body {
    padding: 15px 0 0px;
}

.new-arrival-box .card-body h5 {
    color: #000;
    font-size: 18px;
    line-height: 26px;
}

.new-arrival-box .card-body p {
    color: #858585;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}

.new-arrival-box .arrival-list p {
    background: #000;
    color: #fff;
    width: fit-content;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 8px;
    margin: 0;
    position: absolute;
    top: 20px;
    left: 20px;
}

.new-arrival-box .material-list {
    display: flex;
       gap: 10px;
}

.new-arrival-box .material-list .badge-material,
.new-arrival-box .material-list .badge-moq {
    background: #e8e8e8;
    font-size: 14px;
    padding: 3px 8px;
}

.new-arrival-box .btn {
    background: #000;
    color: #fff;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    border: 1px solid #000;
    margin-top: 20px;
    border-radius: 8px;
    padding: 10px;
}

.new-arrival-box .btn:hover {
    background: #f0c040;
    color: #000;
      border: 1px solid #f0c040;
}

/* Pagination Styling */
.pagination {
    justify-content: center;
}

.pagination .page-item {
    margin-right: 5px;
}

.pagination .page-item:first-child .page-link {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.pagination .page-item:last-child .page-link {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.page-item .page-link {
    border-radius: 8px;
    margin-left: 0 !important;
    padding: 8px 16px;
    color: #000;
    border: 1px solid #dee2e6;
    background-color: #fff;
    transition: all 0.2s ease;
}

.page-item .page-link:focus {
    box-shadow: none;
}

.page-item.active .page-link {
    background-color: #000;
    color: #fff;
    border-color: #000;
    margin: 0;
}

.page-item.disabled .page-link {
    color: #bbb;
    background-color: #f8f9fa;
    border-color: #dee2e6;
    margin: 0;
}

.page-link:hover {
    background-color: #000;
    color: #fff;
    border-color: #000;
}

/* product page zoom img */
.position-relative:hover .zoom-out-image {
    transform: scale(1);
    cursor: pointer;
}
.zoom-out-image {
    transform: scale(1.1); /* Start slightly zoomed in */
    transition: transform 0.4s ease;
}

.position-relative:hover .zoom-out-image {
    transform: scale(1); /* Zoom out to normal size on hover */
}

/* product detalis page img zoom */
.zoom-container {
    position: relative;
    overflow: hidden;
    cursor: crosshair;
    height: 450px;
}

.zoom-image {
    transition: transform 0.2s ease;
    transform-origin: center center;
}

@media (hover: none) {
    .zoom-container {
        cursor: default;
    }
    .zoom-image {
        transform: scale(1) !important;
    }
}

.color-circle.selected {
    border: 3px solid #000;
    box-shadow: 0 0 0 2px #fff; /* White ring outside black border */
}
