body {
    font-family: "Playfair Display", serif;
}

.header-wrapper {
    background-color: #fff;
    padding: 12px 0;
    border-bottom: 1px solid #f3f4f6;
     z-index: 1000;
  transition: all 0.3s ease-in-out;
}

.header-wrapper.scrolled {
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.header-wrapper .navbar-brand img {
    height: 40px;
    width: 40px;
}

.header-wrapper .navbar-brand span {
    color: #1a1a1a;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.navbar-nav li {
    padding: 0 15px;
}

.navbar-nav li a {
    font-size: 16px;
    font-weight: 400;
    color: #374151;
    line-height: 24px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    position: relative;
}

.navbar-nav li a:hover {
    color: #273847;
}

.navbar-nav li a::before {
    position: absolute;
    content: "";
    left: 0px;
    bottom: 0;
    width: 0%;
    height: 3px;
    background: #f0c040;
    transition: all 0.5s ease-in-out;
}

.navbar-nav li a:hover::before {
    width: 100%;
    transition: all 0.5s ease-in-out;
}

/*Hero section*/

.hero-section {
    position: relative;
    background: url("/images/hero-banner.png") no-repeat center center/cover;
    color: #fff;
    height: 525px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 90px 0px 120px 0;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(39 56 71 / 70%);
}

.hero-content {
    position: relative;

    z-index: 1;
}

.hero-content h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
}

.hero-content h1 span {
    color: #f0c040;
}

.hero-content p {
    margin: 40px 0 20px 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    color: #e5e7eb;
    max-width: 600px;
}

.hero-sectoin-btn {
    margin-top: 40px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.hero-sectoin-btn .btn {
    text-decoration: none;
    padding: 15px 20px;
    font-size: 1rem;
    border-radius: 8px;
    transition: all 0.3s ease;
    font-weight: 600;
    color: #2b3d51;
    font-size: 18px;
}

.hero-sectoin-btn .btn-yellow {
    background: #f0c040;
}

.hero-sectoin-btn .btn-yellow:hover {
    background: rgb(255 255 255 / 10%);
    color: #fff;
}

.hero-sectoin-btn .btn-outline {
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
}

.hero-sectoin-btn .btn-outline:hover {
    background: #fff;
    color: #000;
}

.hero-sectoin-btn .btn.btn-light {
    color: #000;
    background-color: rgb(255 255 255 / 10%);
    border: none;
    color: #fff;
}

.hero-sectoin-btn .btn.btn-light:hover {
    background: #f0c040;
    color: #2b3d51;
}

@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 2.2rem;
    }
    .hero-content p {
        font-size: 1rem;
    }
}

.section-padding {
    padding: 90px 20px;
    text-align: center;
}

.section-title {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 700;
    color: #2b3d51;
}

.section-sub-title {
    font-size: 18px;
    color: #2b3d51;
    margin-bottom: 40px;
    max-width: 535px;
    margin: 0 auto 60px;
}

/*Collection Css*/
.collections-section {
    background: #f8f6f3;
}

.collection-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.collection-item {
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.collection-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}

.collection-item img {
    width: 100%;
    height: 256px;
    object-fit: cover;
    display: block;
    border-radius: 15px;
}

.collection-info {
    padding: 15px;
    text-align: left;
}

.collection-info h3 {
    font-size: 20px;
    margin: 5px 0;
    font-weight: 700;
    color: #2b3d51;
}

.collection-info p {
    font-size: 16px;
    color: #2b3d51;
    margin: 0;
}

.product-card img {
    object-fit: cover;
    height: 200px;
}

/*Card Section Css*/
.card-section {
    background: #fff;
}

.card-section .svg-wrapper {
    height: 80px;
    width: 80px;
    background: #fbf7eb;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

.card-section .card {
    border: none;
}

.card-section .card .card-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: #2b3d51;
}

.card-section .card .card-text {
    max-width: 350px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #4b5563;
}

.card-section .card:hover .svg-wrapper {
    background: #f0c040;
    transition: all 0.5s ease-in-out;
}

.card-section .card:hover .svg-wrapper svg path {
    fill: #fff;
    transition: all 0.5s ease-in-out;
}

/*Featured Collection Css*/
.featured-collection-grid {
    position: relative;
}
.featured-collection-grid .featured-img {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.featured-collection-grid .featured-img::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(0 0 0 / 45%);
    border-radius: 15px;
    z-index: 1;
}

.featured-collection-grid .featured-img img {
    border-radius: 15px;
    width: 100%;
    transform: scale(1);
    transition: all 0.5s ease-in-out;
}

.featured-collection-grid .featured-content {
    position: absolute;
    bottom: 0px;
    z-index: 11;
    text-align: left;
    padding-left: 30px;
    z-index: 2;
}

.featured-collection-grid .featured-content h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}

.featured-collection-grid .featured-content p {
    color: #e5e7eb;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.featured-collection-grid:hover .featured-img img {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}

/*Heritage Css*/

.heritage-section {
    background: #2b3d51;
}

.heritage-content {
    text-align: left;
    max-width: 560px;
}

.heritage-content h2 {
    color: #fff;
    font-size: 26px;
    line-height: 46px;
    font-weight: 700;
}

.heritage-content p {
    color: #d1d5db;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 30px;
}

.btn-yellow {
    background: #f0c040;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 8px;
    transition: all 0.3s ease;
    font-weight: 600;
    color: #2b3d51;
    font-size: 16px;
}

.btn-yellow:hover {
    background: transparent;
    border: 1px solid #f0c040;
    color: #fff;
}

/*Client Css*/
.client-card {
    background: #f8f6f3;
    padding: 30px;
    border-radius: 12px;
}

.client-card .client-img {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 15px;
}

.client-card .client-img img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.client-card .client-title .name {
    color: #2b3d51;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 0;
}

.client-card .client-title .designation {
    color: #4b5563;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.client-quote .quote {
    color: #374151;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 0px;
    text-align: left;
}

/*Subscribe Css*/
.subscription-section {
    background-color: #d4af37;
    padding: 90px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscription-content {
    text-align: center;
    width: 100%;
}

.subscription-content h2 {
    font-size: 36px;
    color: #2b3d51;
    font-weight: 700;
    line-height: 46px;
    margin-bottom: 0px;
}

.subscription-content p {
    font-size: 20px;
    font-weight: 400;
    color: #2b3d51;
    margin: 20px 0;
}

.subscription-content form {
    display: flex;
    justify-content: center;
}

.subscription-content input {
    padding: 15px;
    font-size: 16px;
    margin-right: 10px;
    border: none;
    border-radius: 8px;
    width: 300px;
}

.subscription-content button {
    padding: 10px 20px;
    background-color: #1d2a44;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.subscription-content button:hover {
    background-color: #f0c040;
    color: #000;
    transition: all 0.5s ease-in-out;
}

/*Footer Css*/
footer {
    background-color: #2b3d51;
    color: #b1b1b1;
    padding: 90px 20px 70px;
}
footer .brand-info h3 {
    color: white;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}

footer h4 {
    color: white;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}

footer .brand-info p {
    font-size: 16px;
    line-height: 24px;
    color: #d1d5db;
    margin-bottom: 20px;
}

.brand-info,
.quick-links,
.services,
.contact-info {
    margin-bottom: 30px;
}

footer .social-links a {
    color: #fff;
}

footer .social-links a svg {
    color: #fff;
    margin-right: 10px;
    font-size: 22px;
    line-height: 24px;
}

footer .social-links a svg:hover {
    color: #f0c040;
}

footer .quick-links ul,
footer .services ul,
footer .contact-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer .quick-links ul li,
footer .services ul li,
footer .contact-info ul li {
    margin-bottom: 15px;
}

footer .quick-links ul li a,
footer .services ul li a,
footer .contact-info ul li a {
    color: #d1d5db;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}

footer .quick-links ul li a:hover,
footer .services ul li a:hover,
footer .contact-info ul li a:hover {
    color: #f0c040;
}

footer .contact-info ul li svg {
    margin-right: 8px;
}
footer .bottom-text {
    font-size: 16px;
    color: #9ca3af;
    line-height: 24px;
    margin-top: 30px;
}

footer .chatbot-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #c3a846;
    border: none;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .chatbot-btn svg {
    stroke: #2b3d51;
    height: 20px;
    width: 20px;
}

footer .chatbot-btn svg path {
    stroke-width: 1px;
}

/*Contact Page Css*/
.contact-page-wrapper {
    background: #fcfdfd;
}

.contact-top-img {
    width: 80px;
    margin: 0 auto 20px;
}

.contact-page-form .card {
    text-align: left;
    padding: 30px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.19), 0 6px 6px rgb(0 0 0 / 1%);
    border-radius: 16px;
}

.contact-page-form .card .card-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    color: #1f2937;
    margin-bottom: 20px;
}

.contact-page-form .card .form-label {
    font-size: 16px;
    color: #374151;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact-page-form .card .form-control,
.contact-page-form .card .form-select {
    padding: 12px 15px;
}

.contact-page-form .card .form-control:focus,
.contact-page-form .card .form-select:focus {
    border-color: #000000;
    box-shadow: none;
}

.form-control::placeholder {
    color: #adaebc;
}

.contact-page-form .card .btn {
    background: #1f2937;
    color: #fff;
    height: 50px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    width: 100%;
}

.contact-page-form .card .btn:hover {
    background: #f0c040;
    color: #2b3d51;
    transition: all 0.3s ease-in-out;
}

.contact-page-form .card.mb {
    margin-bottom: 35px;
}

.contact-page-info .contact-info-inner {
    display: flex;
    align-items: flex-start;
    width: 100%;
    gap: 15px;
    margin-bottom: 25px;
}

.contact-page-info .contact-info-inner:last-child {
    margin-bottom: 0px;
}

.contact-page-info .contact-info-inner .icon svg {
    height: 25px;
    background: #fbf7eb;
    color: #f0c040;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 15px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.contact-page-info .contact-info-inner h6 {
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    color: #111827;
    margin-bottom: 0px;
}

.contact-page-info .contact-info-inner p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #4b5563;
    width: 250px;
    margin-bottom: 0px;
}

.contact-info-inner:hover .icon svg {
    background: #f0c040;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.contact-page-form .contact-follow {
    height: 50px;
    width: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.contact-page-form .contact-follow.bg-facebook {
    background: #2563eb;
}

.contact-page-form .contact-follow.bg-instagram {
    background: #db2777;
}

.contact-page-form .contact-follow.bg-linkedin {
    background: #3b82f6;
}

.contact-page-form .contact-follow.bg-twitter {
    background: #60a5fa;
}

.contact-page-form .contact-follow svg {
    fill: #fff;
}

.map-wrapper {
    background-image: #f9fafb;
}

.map-wrapper iframe {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.19), 0 6px 6px rgb(0 0 0 / 1%);
}

/*Product Filter*/
.product-filter-left {
    background: #fff;
    padding: 30px 20px;
    border-radius: 8px;
}

.product-filter-left h5 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.product-filter-left h6 {
    color: #111827;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
}

.product-filter-left .form-check-label {
    font-size: 16px;
    color: #374151;
    line-height: 24px;
    margin-bottom: 5px;
}

.product-filter-right .title h4 {
    font-size: 24px;
    font-weight: 600;
    color: #111827;
}

.product-filter-right .title span{
    font-size: 16px;
    color: #4B5563;
}

.product-filter-right .card{
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.10);
        transition: all 0.5s ease-in-out;
}

.product-filter-right .card:hover{
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      transition: all 0.5s ease-in-out;
}

.product-right-filter-img{
    position: relative;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
}

.product-filter-right .card img{
    border-radius: 8px 8px 0 0;
    transition: all 0.3s ease-in-out;
}

.product-filter-right .card .card-body{
    padding: 25px;
}

.product-filter-right .card .card-title {
    font-size: 16px;
    color: #111827;
    line-height: 24px;
}

.product-filter-right .card .card-text {
    font-size: 14px;
    color: #4b5563;
    line-height: 20px;
    font-weight: 400;
}
.product-filter-left .btn,
.product-filter-right .card .btn {
    background: #000;
    color: #fff;
    width: 100%;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    padding: 12px;
}

.product-filter-left .btn:hover,
.product-filter-right .card:hover .btn{
    background: #f0c040;
    color: #000;
}

.product-filter-left .btn:focus,
.product-filter-right .card .btn:focus{
    box-shadow: none;
}

.form-select:focus{
    box-shadow: none;
}

/* Pagination Styling */
.pagination {
    justify-content: center;
}

.page-item .page-link {
    border-radius: 8px;
    margin: 0 4px;
    padding: 8px 16px;
    color: #000;
    border: 1px solid #dee2e6;
    background-color: #fff;
    transition: all 0.2s ease;
}

.page-item.active .page-link {
    background-color: #000;
    color: #fff;
    border-color: #000;
}

.page-item.disabled .page-link {
    color: #bbb;
    background-color: #f8f9fa;
    border-color: #dee2e6;
}

.page-link:hover {
    background-color: #000;
    color: #fff;
    border-color: #000;
}

/* product page zoom img */
.position-relative:hover .zoom-out-image {
    transform: scale(1);
    cursor: pointer;
}
.zoom-out-image {
    transform: scale(1.1); /* Start slightly zoomed in */
    transition: transform 0.4s ease;
}

.position-relative:hover .zoom-out-image {
    transform: scale(1); /* Zoom out to normal size on hover */
}

/* product detalis page img zoom */
.zoom-container {
    position: relative;
    overflow: hidden;
    cursor: crosshair;
    height: 450px;
}

.zoom-image {
    transition: transform 0.2s ease;
    transform-origin: center center;
}

@media (hover: none) {
    .zoom-container {
        cursor: default;
    }
    .zoom-image {
        transform: scale(1) !important;
    }
}

.color-circle.selected {
    border: 3px solid #000;
    box-shadow: 0 0 0 2px #fff; /* White ring outside black border */
}
